/*Styles version Desktop*/
body {
  background-color: white;
  font-family: "Raleway", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
}
/*header*/
header {
  display: flex;
  justify-content: flex-end;
  height: 127px;
  padding-left: 50px;
  padding-right: 50px;
}
#logo {
  padding-top: 45px;
  width: 100%;
}
/* Nav bar*/
nav ul {
  list-style: none;
  display: flex;
  width: 324px;
  margin-top: 0px;
  padding-left: 0px;
  height: 68px;
}
nav li {
  width: 100%;
  height: 100%;
  margin-left: 0px;
  position: relative;
}

.barrebleueA {
  color: #0065fc;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
.barrebleueB {
  color: black;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
/*Effet barre bleue*/
.marginreducA:hover {
  color: #0065fc;
  border-top: #0065fc 2px solid;
}

.barrebleueB:hover {
  color: #0065fc;
}
.marginreducB:hover {
  border-top: #0065fc 2px solid;
}

/*lien inscription*/
#inscrire {
  font-weight: bold;
  color: #0065fc;
  margin-top: 49px;
  width: 113px;
  height: 18px;
}

/*section recherche et filtres*/
/*recherche*/
#sectionsearchbar {
  height: 300px;
  padding-left: 50px;
  padding-right: 50px;
}
#sectionsearchbar h1 {
  margin-top: 0px;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: -5px;
}
#sectionsearchbar h1 + p {
  font-size: 16px;
  margin-bottom: -10px;
}
#searchbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 15px;
  margin-top: 15px;
}
#searchicon {
  padding: 13px 0 0 21px;
  font-size: 20px;
}
#firstzone {
  width: 52px;
  height: 49px;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
#searchzone {
  width: 232px;
  height: 49px;
  border: 1px solid #f2f2f2;
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
  margin-right: -4px;
}
#searchbouton:before {
  content: "Rechercher";
}
#searchbouton {
  width: 132px;
  height: 49px;
  border: 1px solid #0065fc;
  background: #0065fc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: bold;
  color: white;
  font-size: 16px;
  padding: 14px 18px 14px 18px;
}
#firstzone:hover,
#searchbouton:hover {
  cursor: pointer;
}
/*filtres*/
#filtrebar {
  display: flex;
  font-weight: bold;
  font-size: 18px;
}
#filtrebar h1 {
  font-size: 18px;
  padding-left: 14px;
  margin-top: 12px;
}

/*classes des icones*/
.iconzone {
  width: 48px;
  height: 48px;
  border: 2px solid #deebff;
  background: #deebff;
  border-radius: 25px;
  margin-top: -2px;
  margin-left: -2px;
}

/*Icone Economique*/
#filtreeco {
  display: flex;
  width: 193px;
  height: 48px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  margin-left: 32px;
}
#filtreeco p {
  padding-left: 14px;
  margin-top: 12px;
}
#economiqueicon {
  font-size: 17px;
  margin-top: 16px;
  margin-left: 14px;
  color: #0065fc;
}

/*Icone Familiale*/
#filtrefamilial {
  display: flex;
  width: 152px;
  height: 48px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  margin-left: 28px;
}
#filtrefamilial p {
  padding-left: 14px;
  margin-top: 12px;
}
#childicon {
  font-size: 21px;
  margin-top: 13px;
  margin-left: 16px;
  color: #0065fc;
}
/*Icone Romantique*/
#filtreromantique {
  display: flex;
  width: 184px;
  height: 48px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  margin-left: 28px;
}
#filtreromantique p {
  padding-left: 14px;
  margin-top: 12px;
}
#hearticon {
  font-size: 20px;
  margin-top: 15px;
  margin-left: 14px;
  color: #0065fc;
}
/*Icone Animal*/
#filtreanimal {
  display: flex;
  width: 245px;
  height: 48px;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  margin-left: 28px;
}
#filtreanimal p {
  padding-left: 14px;
  margin-top: 12px;
}
#animalicon {
  font-size: 22px;
  margin-top: 11px;
  margin-left: 13px;
  color: #0065fc;
}
/*Effet filtres*/
#filtreeco:hover,
#filtrefamilial:hover,
#filtreromantique:hover,
#filtreanimal:hover {
  background-color: #0065fc;
  color: white;
  box-shadow: 1px 1px 10px #0065fc;
  cursor: pointer;
}
/*Message d'information*/
#info {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
#cercleicon {
  width: 25px;
  height: 25px;
  color: #0065fc;
  border: #d9d9d9 1px solid;
  border-radius: 20px;
}
#infoicon {
  font-size: 13px;
  margin-left: 10px;
  margin-top: 7px;
}
#info p {
  margin-left: 13px;
}
/*Section hébergement et populaires*/
#sectionhp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 63px;
  padding-left: 50px;
  padding-right: 50px;
}
/*Section hébergement*/

#titrehebergement {
  font-weight: bold;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 25px;
}
#sectionhebergement {
  width: 65.67%;
  height: 625px;
  background: #f2f2f2;
  border-radius: 25px;
  border: #f2f2f2 solid 1px;
}
#hebergement {
  margin-left: 36px;
  margin-top: 45px;
  margin-right: 44px;
  height: 550px;
}

#carteshebergement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#carteshebergement a {
  text-decoration: none;
  width: 29.5%;
  position: relative;
  height: 200px;
  margin-bottom: 35px;
}

#afficher {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
/*class cartes*/
.starbar {
  font-size: 12px;
  margin-left: 12px;
  margin-top: 0px;
  color: #0065fc;
}
.greystar {
  color: #f2f2f2;
}
.cartedescription {
  width: 101%;
  height: 76px;
  position: absolute;
  bottom: -1px;
  background-color: white;
  border-radius: 0 0 20px 20px;
}
.cartedescription h1 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 12px;
  color: black;
}
.cartedescription p {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 12px;
  color: black;
}
.cartedescription p span {
  font-weight: bold;
}
.cartedescription .starbar {
  position: absolute;
  bottom: 2px;
}

/*Carte Cannebière*/
#cannebiere {
  width: 100%;
  height: 190px;
  border: 5px solid white;
  border-radius: 25px;
  background: url("images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg") no-repeat;
  background-size: 100% 85%;
  background-position-y: -25px;
  position: relative;
}
/*Carte Port*/
#port {
  width: 100%;
  height: 190px;
  border: 5px solid white;
  border-radius: 25px;
  background: url("images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg") no-repeat;
  background-size: 100% 85%;
  background-position-y: -25px;
  position: relative;
}
/*Carte Mouettes*/
#mouettes {
  width: 100%;
  height: 190px;
  border: 5px solid white;
  border-radius: 25px;
  background: url("images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg") no-repeat;
  background-size: 100% 85%;
  background-position-y: -25px;
  position: relative;
}
/*Carte Mer*/
#mer {
  width: 100%;
  height: 190px;
  border: 5px solid white;
  border-radius: 25px;
  background: url("images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg") no-repeat;
  background-size: 100% 110%;
  background-position-y: -42px;
  background-position-x: 3px;
  position: relative;
}
/*Carte Panier*/
#panier {
  width: 100%;
  height: 190px;
  border: 5px solid white;
  border-radius: 25px;
  background: url("images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg") no-repeat;
  background-size: 100% 85%;
  background-position-y: -25px;
  position: relative;
}
/*Carte Amina*/
#Amina {
  width: 100%;
  height: 190px;
  border: 5px solid white;
  border-radius: 25px;
  background: url("images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg") no-repeat;
  background-size: 103% 185%;
  background-position-y: -117px;
  background-position-x: -3px;
  position: relative;
}
/*section populaire*/
#titrepopulaires {
  font-weight: bold;
  font-size: 22px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
#sectionpopulaires {
  width: 31.34%;
  height: 625px;
  background: #f2f2f2;
  border-radius: 25px;
  border: #f2f2f2 solid 1px;
}
#populaires {
  margin-left: 36px;
  margin-top: 45px;
  margin-right: 44px;
  height: 550px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#chart {
  font-size: 25px;
}
/*class des cartes*/
.cartedescriptionside {
  width: 62%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: white;
  border-radius: 0px 15px 15px 0;
}
.cartedescriptionside h1 {
  font-size: 16px;
  width: 84%;
  margin-top: 10px;
  margin-left: 6%;
  color: black;
  font-weight: bold;
}
.cartedescriptionside p {
  font-size: 14px;
  margin-left: 6%;
  margin-bottom: 0px;
  color: black;
}
.cartedescriptionside .starbar {
  position: absolute;
  bottom: 10px;
  margin-left: 6%;
}
.cartedescriptionside p span {
  font-weight: bold;
}
#sectionpopulaires a {
  text-decoration: none;
}
/*cartes*/
#soleil {
  width: 100%;
  height: 132px;
  border: 5px solid white;
  border-radius: 25px;
  background: url("images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg") no-repeat;
  background-size: 66%100%;
  background-position-y: 0px;
  background-position-x: -47px;
  position: relative;
}
#eau {
  width: 100%;
  height: 132px;
  border: 5px solid white;
  border-radius: 25px;
  background: url("images/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg") no-repeat;
  background-size: 60% 100%;
  background-position-y: 0px;
  background-position-x: -37px;
  position: relative;
}
#bleu {
  width: 100%;
  height: 132px;
  border: 5px solid white;
  border-radius: 25px;
  background: url("images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg") no-repeat;
  background-size: 50% 150%;
  background-position-y: -35px;
  background-position-x: -30px;
  position: relative;
}
/*Section Activité*/
#sectionactivite {
  height: 500px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 60px;
}
#titreactivite {
  font-weight: bold;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 25px;
}
#cartesactivite {
  display: flex;
  justify-content: space-between;
}
/*Classes activités*/
.nomactivite {
  border: solid #f2f2f2 1px;
  width: 100%;
  height: 57px;
  position: absolute;
  bottom: 0px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  box-shadow: #f2f2f2 0px 1px 10px;
}
.nomactivite h1 {
  font-size: 16px;
  margin-left: 18px;
  margin-top: 20px;
}
/*Cartes et conteneur de cartes activités*/
#vieuxport {
  width: 100%;
  height: 448px;
  border-radius: 25px;
  background: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg") no-repeat;
  background-size: 225% 100%;
  background-position-x: -200px;
  position: relative;
}
#subcarte2 {
  width: 22.79%;
  height: 448px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#clicpomegues {
  height: 302px;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 40px;
}
#clicfrioul {
  height: 302px;
  display: flex;
  flex-direction: column;
  flex: 0.7;
}
#pomegues {
  width: 100%;
  height: 448px;
  border-radius: 25px;
  background: url("images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg") no-repeat;
  background-size: 100% 175%;
  background-position-y: -100px;
  background-position-x: 0px;

  position: relative;
  flex: 1;
}
#frioul {
  width: 100%;
  height: 448px;
  border-radius: 25px;
  background: url("images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg") no-repeat;
  background-size: 100% 100%;
  background-position-y: 0px;
  background-position-x: 0px;
  position: relative;
  flex: 1;
}

#calangues {
  width: 100%;
  height: 448px;
  border-radius: 25px;
  background: url("images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg") no-repeat;
  background-size: 225% 100%;
  background-position-y: 0px;
  background-position-x: -180px;
  position: relative;
}
#subcarte4 {
  width: 22.79%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 448px;
}
#clicnotredame {
  height: 302px;
  display: flex;
  flex-direction: column;
  flex: 1;

  margin-bottom: 40px;
}
#cliclongchamp {
  height: 302px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#notredame {
  width: 100%;
  height: 448px;
  border-radius: 25px;
  background: url("images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;
  flex: 1;
}
#longchamp {
  width: 100%;
  height: 448px;
  border-radius: 25px;
  background: url("images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;
  flex: 1;
}
#cartesactivite a {
  color: black;
  width: 22.79%;
}
#subcarte2 a,
#subcarte4 a {
  width: 100%;
}
/*effet halo bleu sur les cartes */
#cannebiere:hover,
#port:hover,
#mouettes:hover,
#mer:hover,
#panier:hover,
#Amina:hover,
#soleil:hover,
#eau:hover,
#bleu:hover,
#vieuxport:hover,
#pomegues:hover,
#frioul:hover,
#calangues:hover,
#notredame:hover,
#longchamp:hover {
  box-shadow: #0065fc 1px 1px 15px;
}
/*Footer*/
footer {
  background-color: #f2f2f2;
  height: 215px;
  display: flex;
  justify-content: flex-start;
}
footer ul {
  list-style-type: none;
  padding-left: 0px;
}
footer p {
  font-weight: bold;
  font-size: 18px;
  margin-top: 45px;
  margin-bottom: 20px;
}
li {
  margin-bottom: 12px;
}
a {
  text-decoration: none;
  color: black;
}
#sectionapropos {
  margin-left: 50px;
  width: 33%;
}

#sectionnoshebergements {
  width: 32%;
}

#sectionassistance {
  width: 35%;
}
/*Responsive moyen desktop*/
@media all and (max-width: 1224px) and (min-width: 1025px) {
  /*redimension section hebergement 2 cartes par ligne*/
  #sectionhebergement {
    width: 60%;
    height: 875px;
  }
  #hebergement {
    height: 750px;
  }
  #carteshebergement a {
    width: 44.25%;
  }
  /*redimension section populaire*/
  #sectionpopulaires {
    width: 37%;
    height: 875px;
  }
  #populaires {
    height: 700px;
  }
  #soleil,
  #eau,
  #bleu {
    height: 150px;
  }
  /*redimension section actvité 3 cartes par ligne*/
  #sectionactivite {
    height: 1000px;
  }
  #cartesactivite {
    flex-wrap: wrap;
  }
  #cartesactivite a {
    width: 48.58%;
  }
  #vieuxport {
    margin-bottom: 35px;
  }
  #subcarte2 {
    width: 48.58%;
    margin-bottom: 35px;
  }
  #subcarte4 {
    width: 48.58%;
  }

  #subcarte2 a,
  #subcarte4 a {
    width: 100%;
  }
  #clicpomegues,
  #clicfrioul {
    flex: 1;
  }
}
/*Responsive petit desktop grandes tablettes*/
@media all and (max-width: 1024px) and (min-width: 769px) {
  /*section searchbar*/
  #sectionsearchbar {
    height: 350px;
    padding-left: 50px;
    padding-right: 50px;
  }
  /*Adaptation du filtre*/
  #filtrebar {
    display: flex;
    flex-wrap: wrap;
  }
  #filtreanimal {
    margin-top: 10px;
  }
  #filtreeconomique,
  #filtrefamilial,
  #filtreromantique {
    margin-left: 14px;
  }
  /*section populaire placée au dessus de hebergement*/
  #sectionhp {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  /*redimension section hebergement*/
  #sectionhebergement {
    width: 100%;
  }
  #carteshebergement a {
    width: 31%;
  }
  /*redimension section populaire*/

  #populaires {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  #populaires a {
    width: 80%;
  }
  #populaires h1 {
    align-self: flex-start;
    width: 100%;
  }
  #sectionpopulaires {
    width: 100%;
    margin-bottom: 63px;
  }
  #soleil,
  #eau,
  #bleu {
    width: 100%;
  }

  /*redimension section actvité 3 cartes par ligne*/
  #sectionactivite {
    height: 1000px;
  }
  #cartesactivite {
    flex-wrap: wrap;
  }
  #cartesactivite a {
    width: 48.58%;
  }
  #vieuxport {
    margin-bottom: 35px;
  }
  #subcarte2 {
    width: 48.58%;
    margin-bottom: 35px;
  }
  #subcarte4 {
    width: 48.58%;
  }
  #subcarte2 a,
  #subcarte4 a {
    width: 100%;
  }
  #clicpomegues,
  #clicfrioul {
    flex: 1;
  }
}
/*Responsive tablette*/
@media all and (max-width: 768px) and (min-width: 426px) {
  /*Header*/
  header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 134px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 40px;
    border-bottom: #f2f2f2 1px solid;
  }
  #logo {
    padding-top: 24px;
    width: 70%;
  }
  /*lien inscription*/
  #inscrire {
    margin-top: 39px;
    width: 18.8%;
    order: 2;
  }
  /* Nav bar*/
  nav {
    order: 3;
    width: 100%;
  }
  nav ul {
    display: flex;
    width: 100%;
    margin-top: 0px;
    padding-left: 0px;
    height: 100%;
  }
  nav li {
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }

  .barrebleueA {
    position: absolute;
    bottom: 17px;

    width: 100%;
  }
  .barrebleueB {
    position: absolute;
    bottom: 17px;
    text-align: center;
  }

  /*Effet barre bleue*/
  .marginreducA:hover {
    border-bottom: #0065fc 2px solid;
    border-top: unset;
  }

  .marginreducB:hover {
    border-bottom: #0065fc 2px solid;
    border-top: unset;
  }

  /*section searchbar*/
  #sectionsearchbar {
    height: 500px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0px;
  }
  #searchbar {
    margin-top: 30px;
  }
  #sectionsearchbar h1 {
    margin-top: -8px;
  }
  #sectionsearchbar h1 + p {
    font-size: 16px;
    margin-bottom: -10px;
  }
  /*Adaptation loupe*/
  #searchbouton:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f002";
  }
  #searchbouton {
    width: 49px;
    height: 49px;
    border: 1px solid #0065fc;
    border-radius: 15px;
    background: #0065fc;
    margin-left: -10px;
    padding: 14px 15px 14px 15px;
  }
  #searchzone {
    width: 237px;
  }
  /*Adaptation du filtre*/

  #filtrebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -3px;
  }
  #filtrebar h1 {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  #filtrebar p {
    font-size: 16px;
    padding-top: 3px;
  }
  #filtreeco,
  #filtrefamilial,
  #filtreromantique,
  #filtreanimal {
    margin-left: 0px;
    margin-bottom: 12px;
    margin-right: 6px;
  }
  #filtreeco {
    width: 175px;
  }
  #filtrefamilial {
    width: 139px;
  }
  #filtreromantique {
    width: 167px;
  }
  #filtreanimal {
    width: 218px;
  }
  #info {
    margin-top: 0px;
  }
  #cercleicon {
    width: 23px;
    height: 23px;
    color: #0065fc;
    border: #d9d9d9 1px solid;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  #infoicon {
    font-size: 12px;
    margin-left: 9px;
    margin-top: 6px;
  }
  #info p {
    width: 100%;
    margin-left: 5px;
    font-size: 16px;
  }
  /*section populaire placée au dessus de hebergement*/
  #sectionhp {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin-bottom: 63px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /*redimension section hebergement 2 cartes par ligne*/
  #sectionhebergement {
    width: 100%;
    height: 875px;
  }
  #hebergement {
    height: 750px;
    margin-left: 5px;
    margin-top: 45px;
    margin-right: 13px;
  }

  #carteshebergement a {
    width: 48%;
  }
  /*redimension section populaire*/
  #chart {
    position: relative;
    left: 140px;
    font-size: 25px;
  }
  #populaires {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  #populaires a {
    width: 100%;
  }
  #populaires h1 {
    align-self: flex-start;
    width: 70%;
  }
  #sectionpopulaires {
    width: 100%;
    margin-bottom: 63px;
  }
  #soleil,
  #eau,
  #bleu {
    width: 100%;
  }

  /*redimension section actvité 3 cartes par ligne*/
  #sectionactivite {
    height: 1000px;
  }
  #cartesactivite {
    flex-wrap: wrap;
  }
  #cartesactivite a {
    width: 48.58%;
  }
  #vieuxport {
    margin-bottom: 35px;
  }
  #subcarte2 {
    width: 48.58%;
    margin-bottom: 35px;
  }
  #subcarte4 {
    width: 48.58%;
  }
  #subcarte2 a,
  #subcarte4 a {
    width: 100%;
  }
  #clicpomegues,
  #clicfrioul {
    flex: 1;
  }
  footer {
    background-color: #f2f2f2;
    height: 486px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
  }
  footer ul {
    list-style-type: none;

    padding-left: 0px;
  }
  footer p {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  li {
    font-size: 16px;
    margin-bottom: 11px;
  }

  #sectionapropos {
    margin-left: 27px;
    width: 80%;
    margin-top: 45px;
  }

  #sectionnoshebergements {
    width: 80%;
    margin-left: 27px;
    margin-top: 35px;
  }

  #sectionassistance {
    width: 80%;
    margin-left: 27px;
    margin-top: 35px;
    height: 93px;
  }
}
/*responsive mobile*/
@media all and (max-width: 425px) {
  /*Header*/
  header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 134px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 40px;
    border-bottom: #f2f2f2 1px solid;
  }
  #logo {
    padding-top: 24px;
    width: 70%;
  }
  /*lien inscription*/
  #inscrire {
    margin-top: 39px;
    width: 18.8%;
    order: 2;
  }
  /* Nav bar*/
  nav {
    order: 3;
    width: 100%;
  }
  nav ul {
    display: flex;
    width: 100%;
    margin-top: 0px;
    padding-left: 0px;
    height: 100%;
  }
  nav li {
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }

  .barrebleueA {
    position: absolute;
    bottom: 17px;

    width: 100%;
  }
  .barrebleueB {
    position: absolute;
    bottom: 17px;
    text-align: center;
  }

  /*Effet barre bleue*/
  .marginreducA:hover {
    border-bottom: #0065fc 2px solid;
    border-top: unset;
  }

  .marginreducB:hover {
    border-bottom: #0065fc 2px solid;
    border-top: unset;
  }

  /*section searchbar*/
  #sectionsearchbar {
    height: 525px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0px;
  }

  #searchbar {
    margin-top: 30px;
  }
  #sectionsearchbar h1 {
    margin-top: -8px;
  }
  /*Adaptation loupe*/
  #searchbouton:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f002";
  }
  #searchbouton {
    width: 49px;
    height: 49px;
    border: 1px solid #0065fc;
    border-radius: 15px;
    background: #0065fc;
    margin-left: -10px;
    padding: 14px 15px 14px 15px;
  }
  #searchzone {
    width: 237px;
  }
  /*Adaptation du filtre*/

  #filtrebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -3px;
  }
  #filtrebar h1 {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  #filtrebar p {
    font-size: 16px;
    padding-top: 3px;
  }
  #filtreeco,
  #filtrefamilial,
  #filtreromantique,
  #filtreanimal {
    margin-left: 0px;
    margin-bottom: 12px;
    margin-right: 6px;
  }
  #filtreeco {
    width: 175px;
  }
  #filtrefamilial {
    width: 139px;
  }
  #filtreromantique {
    width: 167px;
  }
  #filtreanimal {
    width: 218px;
  }
  #info {
    margin-top: 0px;
  }
  #cercleicon {
    width: 23px;
    height: 23px;
    color: #0065fc;
    border: #d9d9d9 1px solid;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  #infoicon {
    font-size: 12px;
    margin-left: 9px;
    margin-top: 6px;
  }
  #info p {
    width: 100%;
    margin-left: 5px;
    font-size: 16px;
  }
  /*section populaire placée au dessus de hebergement*/
  #sectionhp {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }
  /*redimension section hebergement*/
  #sectionhebergement {
    width: 100%;
  }
  /*redimension section populaire*/
  #titrepopulaires {
    font-size: 22px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  #chart {
    position: relative;
    left: 120px;
    font-size: 25px;
  }
  #populaires {
    height: 505px;
    margin-left: 16px;
    margin-right: 24px;
    margin-top: 40px;
  }

  #populaires a {
    width: 100%;
  }
  #populaires h1 {
    align-self: flex-start;
    width: 70%;
  }
  #sectionpopulaires {
    width: 100%;
    border-radius: unset;
    height: 580px;
  }
  #soleil,
  #eau,
  #bleu {
    width: 100%;
  }

  /*redimension section hebergement 2 cartes par ligne*/
  #titrehebergement {
    font-weight: bold;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  #sectionhebergement {
    width: 100%;
    background-color: white;
    border-radius: unset;
    height: 1440px;
  }
  #hebergement {
    height: 1400px;
    margin-left: 16px;
    margin-right: 24px;
    margin-top: 35px;
  }

  #carteshebergement a {
    width: 100%;
    margin-bottom: 15px;
  }

  #afficher {
    position: relative;
    top: 15px;
  }

  #cannebiere,
  #port,
  #mouettes,
  #mer,
  #panier,
  #Amina {
    box-shadow: #d9d9d9 1px 1px 10px;
  }
  /*redimension section actvité 3 cartes par ligne*/
  #sectionactivite {
    height: 1350px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
  }
  #titreactivite {
    font-weight: bold;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  #cartesactivite {
    flex-wrap: wrap;
    flex-direction: column;
  }
  #cartesactivite a {
    width: 100%;
  }
  #vieuxport {
    margin-bottom: 20px;
    height: 190px;
  }
  #subcarte2 {
    width: 100%;

    margin-bottom: 20px;
    height: 400px;
  }
  #calangues {
    margin-bottom: 20px;
    height: 190px;
  }
  #subcarte4 {
    width: 100%;
    height: 400px;
  }
  #subcarte2 a,
  #subcarte4 a {
    width: 100%;
    height: 190px;
  }
  #clicpomegues,
  #clicnotredame {
    margin-bottom: 20px;
  }
  #clicpomegues,
  #clicfrioul {
    flex: 1;
  }
  #clicpomegues,
  #clicfrioul,
  #clicnotredame,
  #longchamp {
    height: 190px;
  }
  /*footer*/
  footer {
    background-color: #f2f2f2;
    height: 486px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    margin-top: -10px;
  }
  footer ul {
    list-style-type: none;

    padding-left: 0px;
  }
  footer p {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  li {
    font-size: 16px;
    margin-bottom: 11px;
  }

  #sectionapropos {
    margin-left: 27px;
    width: 80%;
    margin-top: 45px;
  }

  #sectionnoshebergements {
    width: 80%;
    margin-left: 27px;
    margin-top: 35px;
  }

  #sectionassistance {
    width: 80%;
    margin-left: 27px;
    margin-top: 35px;
    height: 93px;
  }
}
/*responsive petit mobile*/
@media all and (max-width: 370px) {
  #sectionsearchbar {
    height: 600px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0px;
  }
  #searchzone {
    width: 160px;
  }
  #chart {
    position: relative;
    left: 80px;
    font-size: 25px;
  }
}
