/*Styles principaux*/
body {
  background-color: white;
  font-family: "Raleway", sans-serif;
}

#bloc_page {
  width: 100%;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
  height: 168px;
}
/* Nav bar*/
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  margin-right: 65px;
}
nav a {
  text-decoration: none;
  color: black;
}
/*Effet barre bleue*/
.barrebleueA:hover {
  color: #0065fc;
  border-top: #0065fc 3px solid;
  padding: 54px 33px 0 33px;
}
.marginreducA:hover {
  margin-right: 32px;
  margin-left: 0px;
}

.barrebleueB:hover {
  color: #0065fc;
  border-top: #0065fc 3px solid;
  padding: 54px 57px 0 57px;
}
.marginreducB:hover {
  margin-right: 8px;
  margin-left: -57px;
}
/*lien inscription*/
#inscrire {
  font-weight: bold;
  color: #0065fc;
}

/*section recherche et filtres*/

#searchbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#searchicon {
  padding: 17px 0 0 21px;
}
#firstzone {
  width: 54px;
  height: 47px;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
#searchzone {
  width: 234px;
  height: 49px;
  border: 1px solid #f2f2f2;
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
  margin-right: -4px;
}
#searchbouton {
  width: 134px;
  height: 49px;
  border: 1px solid #0065fc;
  background: #0065fc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: bold;
  color: white;
  font-size: 16px;
}
