/*Styles principaux*/
body {
  background-color: white;
  font-family: "Raleway", sans-serif;
}

#bloc_page {
  width: 100%;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}

nav ul {
  list-style: none;
  display: flex;
}
nav li {
  margin-right: 65px;
}
nav a {
  text-decoration: none;
}
.barrebleue:hover {
  color: #0065fc;
  border-top: #0065fc 3px solid;
  padding: 67px 33px 0 33px;
}
.marginreducA:hover {
  margin-right: 32px;
  margin-left: 0px;
}
.marginreducB:hover {
  margin-right: 32px;
  margin-left: -33px;
}

#inscrire {
  font-weight: bold;
  color: #0065fc;
}
